.degradado {
  background: #13d3ec;
  background: -webkit-linear-gradient(to bottom, rgba(19, 211, 236, 0.5), rgba(62, 59, 206, 0.5));
  background: linear-gradient(to bottom, rgba(19, 211, 236, 0.5), rgba(62, 59, 206, 0.5))
    }

h2 {
    font-family: 'fuenteSonfa';
    text-align: center;
}

.form-control, .card {
    box-shadow: 4px -4px 5px rgb(145, 237, 240);   
  }

 @font-face {
    font-family: 'fuenteSonfa';
    src: url('../fuentes/TangoSans_Italic.ttf');
    }
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
    @media (min-width: 769px) {
    .degradado {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}

#icon{
    font-size: 3rem; 
    color: cornflowerblue;
    margin: 0%;
    padding: 0%;
}